<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<h2>Noise Complaints</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Type</th>
        <th>Description</th>
        <th>Date</th>
    </tr>

    {% for c in complaints %}
    <tr>
        <td>{{c[0]}}</td>
        <td>{{c[1]}}</td>
        <td>{{c[2]}}</td>
        <td>{{c[3]}}</td>
        <td>{{c[4]}}</td>
        <td>{{c[5]}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
